<a href="https://colab.research.google.com/github/Jualopezm/PythonDataScienceHandbook/blob/master/Taller_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Taller introductorio de Python***

## ***Tipos de Datos***: *Un tipo de dato establece qué valores puede tomar una variable y qué operaciones se pueden realizar sobre la misma.*



*   ***String***: Un dato *string* se compone por uno o más caracteres alfanuméricos, lo cual quiere decir que puede componerse de números, letras y caracteres, que se tratarán como texto solamente. Éstos se colocan entre comillas sencillas o dobles.

 

*   ***Imprimir o mostrar datos***: Para imprimir o mostrar textos o variales en python debemos usar la función ***print()***.

In [ ]:
"Esto es un string"

In [ ]:
"Juan tiene 25 años"

In [ ]:
'Esto es también un string 6767677 ¿¿¿¿'

type('Esto es también un string 6767677 ¿¿¿¿')

str

In [ ]:
print("Juan "+"Tiene "+"20 "+"años")

Juan Tiene 20 años

In [ ]:
print(10*"Pedro ")

Pedro Pedro Pedro Pedro Pedro Pedro Pedro Pedro Pedro Pedro

In [ ]:
type('Hola como estás? 1223344455667')


*   ***Integer***: Un dato *int* permite representar números enteros.

In [ ]:
11509
type(11509)

int

In [ ]:
-116
type(-116)

int

In [ ]:
print(4 + 5 + 6343434 + 8) #Sumar enteros

6343451

In [ ]:
print(2*10*5*6*89) #Multiplicar enteros

In [ ]:
print(2**3) #2^4

8

In [ ]:
print(22333445/6) #Dividir

3722240.8333333335

In [ ]:
10/3 #Divisón

3.3333333333333335

In [ ]:
10//3 #División entera

3

In [ ]:
10 % 3 # Módulo

1

In [ ]:
25 % 2 #Par o impar

1

*   ***Float***: El formato de dato del tipo *float* se aplica a los números con decimales.

In [ ]:
35.7

35.7

In [ ]:
2/3
type(2/3)

float

In [ ]:
3567.0
type(3567.0)

int

*   ***Boolean***: El tipo de dato booleano es en computación aquel que puede representar valores de lógica binaria, esto es 2 valores, que normalmente representan falso o verdadero.

In [ ]:
True

In [ ]:
False

In [ ]:
7<3

False

In [ ]:
45<20

False

*   ***List***: Las listas en Python son un tipo de estructuras de datos muy flexible que guardan de forma ordenada un conjunto de datos que no tiene porque ser del mismo tipo.

In [ ]:
[0,1,2,3]

In [ ]:
["a","e","i","o","u"]

In [ ]:
[123,"aeiou",23.67,True,"2334",[1,2,3]]

type([123,"aeiou",23.67,True,"2334",[1,2,3]])

list

In [ ]:
[1,2]
[3,4]
print([1,2]+[3,4])

[1, 2, 3, 4]

In [ ]:
Lista = ["a","e","i","o","u","y","u","y","o","n"]

Lista[-3]

'y'

In [ ]:
lista = [1,2,3,4,5]

lista.append(9) #Agregar elementos

print(lista)

[1, 2, 3, 4, 5, 9]

In [ ]:
lista_2 = ["Rosado","Verde","Amarillo","Gris",True,122334]

lista_2.pop(0) #Eliminar el dato en la posición dada.

print(lista_2)

['Verde', 'Amarillo', 'Gris', True, 122334]

In [ ]:
lista_3 = ["Rosado","Verde","Amarillo","Gris",True,122334]

lista_3.remove("Verde") #Eliminar el dato dado

print(lista_3)

['Rosado', 'Amarillo', 'Gris', True, 122334]

In [ ]:
lista_4 = ["Rosado","Verde","Amarillo","Gris",True,122334]

lista_4.reverse() #Cambiar de posición los datos.

print(lista_4)

[122334, True, 'Gris', 'Amarillo', 'Verde', 'Rosado']

In [ ]:
lista_5 = ["Rosado","Verde","Amarillo","Gris",True,122334,"Gris","Gris","Gris","Gris"]

lista_5.count("Gris") #Contar el número de veces que aparece el dato dado en la lista.

print(lista_5.count("Gris"))

5

In [ ]:
lista_6 = [1,2,3,4,5,6,"a","b","c"]

len(lista_6)

9

*   ***Tuple***: Un *tupla* es una colección de datos cuyo orden es inalterable. Esto quiere decir que una tupla no puede ser modificada (no se pueden añadir ni eliminar elementos a una tupla).

In [ ]:
(1,2,3,4,5,6,7,8,9,10,1,2,3,1,1,1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 1, 1, 1)

In [ ]:
(1,2,3,4,5,6,7,8,9,10,1,2,3,'a','b','c','d',True, False)

In [ ]:
("Bogotá","Medellín","Cali","Barranquila")

('Bogotá', 'Medellín', 'Cali', 'Barranquila')

In [ ]:
a=(1,2,3,4,5,6,7,8,9,10,1,2,3,1,1,1)

a.count(1)

print(a.count(1))

5

In [ ]:
b = ("a","e","i","o","u")

b.index("u") #index me dice la posición del dato dado

print(b.index("u"))

4

In [ ]:
a = (1,True,3)

b = (7,8,"y")

print(a+b)

(1, True, 3, 7, 8, 'y')

*   ***Dictionary***: Un *Diccionario* es una estructura de datos y un tipo de dato en Python con características especiales que nos permite almacenar cualquier tipo de valor como enteros, cadenas, listas e incluso otras funciones. Estos diccionarios nos permiten además identificar cada elemento por una clave (Key).

In [ ]:
{
    "Nombre": "Andres"
}

In [ ]:
soy_un_diccionario = {
    
    "Nombre": "Nicolas",
    "Apellido": "Perez"
}

soy_un_diccionario['Apellido']

print(soy_un_diccionario['Apellido']) #Podemos acceder a los valores de esta forma.

Perez

In [ ]:
Notas = {
    
    "Nota 1": 4.5,
    "Nota 2": 3.7,
    "Nota 3": 4.0
}

print(Notas.keys()) #Obtener las llaves

dict_keys(['Nota 1', 'Nota 2', 'Nota 3'])

In [ ]:
Notas = {
    
    "Nota 1": 4.5,
    "Nota 2": 3.7,
    "Nota 3": 4.0
}

print(Notas.values()) #Obtener los valores

dict_values([4.5, 3.7, 4.0])

In [ ]:
Notas = {
    
    "Nota 1": 4.5,
    "Nota 2": 3.7,
    "Nota 3": 4.0
}

print(Notas.items()) #Obtener los items

dict_items([('Nota 1', 4.5), ('Nota 2', 3.7), ('Nota 3', 4.0)])

***Cambiar tipos de datos***

In [ ]:
#De entero a string


str(12)

print("Juan "+"tiene "+str(12)+" años")

Juan tiene 12 años

In [ ]:
#De entero a float

float(160)

160.0

In [ ]:
#De string a entero

int('1223')

print(34+int('1223'))

1257

# ***Variables***

In [ ]:
a = "Hola, "

print(a)

Hola,

In [ ]:
saludo = "¿Cómo estás el día de hoy?"

In [ ]:
number = 12348696398638926483264829468329

In [ ]:
flotante_1 = 2345.65656

In [ ]:
mi_diccionario_3 = {
    
    "Pais": "Colombia",
    "Capital":"Bogotá",
    "No_habitantes": 50880000}

In [ ]:
color_1 = "Azul"

color_2 = "Verde"

color_3 = "Rosa"

lista_1 = [[1,2],[3,4]]

lista_1[0][1]

2

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = []

for i in range(3): #range(3) = (0,1,2)
  c.append(a[i]+b[i])
print(c)

[5, 7, 9]

In [ ]:
a = 2578765645434524578678678

b = 4554345667

print(a+b)

2578765645434529133024345

# ***Entrada por teclado - Función Input()***

In [ ]:
Edad_usuario = input("Ingresa tu edad: ")

print(Edad_usuario)

Ingresa tu edad: 55
55

In [ ]:
Edad_usuario = input("Ingresa tu edad: ")

print("Tienes " + Edad_usuario + " años.")

Ingresa tu edad: 23
Tienes 23 años.

In [ ]:
Edad_usuario = input("Ingresa tu edad: ")
type(Edad_usuario)

Ingresa tu edad: 45

str

In [ ]:
Nota_1 = int(input("Ingresa la primer nota del curso: ")) #Solicitamos por teclado un valor

Nota_2 = int(input("Ingresa la segunda nota del curso: ")) #Solicitamos por teclado un valor

Nota_3 = int(input("Ingresa la tercer nota del curso: ")) #Solicitamos por teclado un valor

Nota_final = (Nota_1 + Nota_2 + Nota_3)/3 #Realizamos el proceso para obtener el promedio de las notas

print(Nota_final) #Imprimimos el resultado

Ingresa la primer nota del curso: 34
Ingresa la segunda nota del curso: 50
Ingresa la tercer nota del curso: 23
35.666666666666664

***Ejercicio :*** Escribir un programa que pregunte al usuario por el número de horas trabajadas y el coste por hora. Después debe mostrar por pantalla la paga que le corresponde.

In [ ]:
#Instrucciones

# Horas_trabajadas -> input
# Costo_hora -> input
# paga_total = 

#print()

# ***Condicional: If-Else:***

In [ ]:
numero = 5

if numero > 3:
  print("La sentencia es verdadera.")

La sentencia es verdadera.

In [ ]:
Nota = 3.7

if Nota > 3.0:
  print("Aprobó el examen.")

Aprobó el examen.

In [ ]:
Color = "Verde"

if Color == "Rosado":
  print("El color es rosado.")

In [ ]:
Nota_1 = 1.5

Nota_2 = 4.2

Nota_3 = 2.5

if (Nota_1 + Nota_2 + Nota_3)/3 >= 3.0:
  print("Aprobó el curso.")

In [ ]:
x = 6

if x > 3:
  print("La sentencia es verdadera.")
else:
  print("La sentencia es falsa.")

La sentencia es verdadera.

In [ ]:
Nota_1 = 3.4

Nota_2 = 1.7

Nota_3 = 2.4

if (Nota_1 + Nota_2 + Nota_3)/3 >= 3.0:
  print("Aprobó el curso")
else:
  print("Debes repetir el curso.")

Debes repetir el curso.

In [ ]:
Color_1 = "Gris"

Color_2 = "Verde"

if Color_1 == "Azul" and Color_2 == "Verde":
  print("La sentencia es verdadera.")
else:
  print("Otros colores.")

Otros colores.

In [ ]:
Color_1 = "Gris"

Color_2 = "Rosado"

if Color_1 == "Azul" or Color_2 == "Verde":
  print("La sentencia es verdadera.")
else:
  print("Otros colores")

Otros colores

***Ejercicio:*** Escribir un programa que pregunte al usuario su edad y muestre por pantalla si es mayor de edad o no.

In [ ]:
#Solución

#edad_usuario -> input

#if edad_usuario >= 18:
#------
#else:
#-----

***Ejercicio:*** Escribir un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.

In [ ]:
#Solución

#44%2=0 ->par

#45%2=1 -> impar

# ***Bucles: For-While:*** El bucle *for* se utiliza para recorrer los elementos de un objeto iterable (lista, tupla, conjunto, diccionario, …) y ejecutar un bloque de código. El bucle while evalúa una condición y luego ejecuta un bloque de código si la condición es verdadera.

In [ ]:
numbers = [2,4,6,8,10,12,14,16]
for i in numbers:
  print(i)

2
4
6
8
10
12
14
16

In [ ]:
for i in [2,3,4,5,6,7,8,9,10]:
  print(i**2)

4
9
16
25
36
49
64
81
100

In [ ]:
colores = ["Amarillo","Azul","Rojo"]
for i in colores:
  print(i)

Amarillo
Azul
Rojo

In [ ]:
for i in range(5): #range(5)=(0,1,2,3,4)
    print(i)

0
1
2
3
4

In [ ]:
x = 10

while x < 20:
  print("Hola")
  x = x+10

Hola

In [ ]:
numero = int(input("Ingrese un número positivo: "))

while numero > 0:
  print(numero)
  numero = numero - 1

Ingrese un número positivo: 4
4
3
2
1

***Ejercicio:*** Escribir un programa que pida al usuario una palabra y la muestre por pantalla 10 veces.

In [ ]:
#input()
#for i in []:
#

# ***Funciones***

In [ ]:
 def sumar(a,b):
  return(a+b)

print(sumar(5,6))

11

In [ ]:
def restar(a,b):
  return(a-b)

print(restar(78,5))

73

In [ ]:
def saludar():
  return("Hola como estás?")

print(saludar())

Hola como estás?

In [ ]:
a = int(input("Ingrese un número: "))
b = int(input("Ingrese un número: "))

def funtc(a,b):
  return(a-b)

print(funtc(a,b))

Ingrese un número: 4
Ingrese un número: 3
1

***Ejercicio 1:*** Realizar una función que multiplique dos valores dados.

***Ejercicio 2:*** Realizar una función que eleve al cuadrado un valor dado.

***Ejercicio 3:*** Realizar una función que pida por teclado dos valores e imprima la suma de los dos valores al cuadrado. (a+b)^2